*.acr
*.aux
*.bak
*.bbl
*.bcf
*.blg
*.brf
*.fls
*.gz
*.idx
*.ilg
*.ind
*.loa
*.lof
*.log
*.lol
*.lot
*.mw
*.nlo
*.nls
*.out
*.pre
*.sav
*.tdo
*.toc
*.xml
*.xmpdata
*.xmpi
*.latexindentbackup
**/auto
*.fdb