*.acr
*.aux
*.bak
*.bbl
*.bcf
*.blg
*.fls
*.gz
*.idx
*.ilg
*.ind
*.loa
*.lof
*.log
*.lol
*.lot
*.mw
*.nlo
*.nls
*.out
*.pre
*.sav
*.tdo
*.toc
*.xml
*.xmpi
*.latexindentbackup
LaTeX_template_thesis/main.pdf